<h1>A Flow To Python Learning<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Table-of-Contents" data-toc-modified-id="Table-of-Contents-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Table of Contents</a></span><ul class="toc-item"><li><span><a href="#Creating-Vectors-&amp;-Matrix" data-toc-modified-id="Creating-Vectors-&amp;-Matrix-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Creating Vectors &amp; Matrix</a></span><ul class="toc-item"><li><span><a href="#Selecting-a-subset-of-data" data-toc-modified-id="Selecting-a-subset-of-data-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Selecting a subset of data</a></span><ul class="toc-item"><li><span><a href="#Selecting-few-rows-and-columns" data-toc-modified-id="Selecting-few-rows-and-columns-1.1.1.1"><span class="toc-item-num">1.1.1.1&nbsp;&nbsp;</span>Selecting few rows and columns</a></span></li></ul></li><li><span><a href="#Mathematical-ops-on-Matrices" data-toc-modified-id="Mathematical-ops-on-Matrices-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Mathematical ops on Matrices</a></span><ul class="toc-item"><li><span><a href="#List-Examples" data-toc-modified-id="List-Examples-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>List Examples</a></span></li><li><span><a href="#Working-with-string-and-list" data-toc-modified-id="Working-with-string-and-list-1.1.2.2"><span class="toc-item-num">1.1.2.2&nbsp;&nbsp;</span>Working with string and list</a></span></li></ul></li><li><span><a href="#Indexes" data-toc-modified-id="Indexes-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Indexes</a></span></li><li><span><a href="#Hierarchical/Multi-Indexing" data-toc-modified-id="Hierarchical/Multi-Indexing-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Hierarchical/Multi Indexing</a></span></li></ul></li><li><span><a href="#Working-with-dataframe--Subsetting" data-toc-modified-id="Working-with-dataframe--Subsetting-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Working with dataframe- Subsetting</a></span><ul class="toc-item"><li><span><a href="#Selecting-Few-Rows/Columns" data-toc-modified-id="Selecting-Few-Rows/Columns-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Selecting Few Rows/Columns</a></span></li><li><span><a href="#Dropping-Multiple-Variables" data-toc-modified-id="Dropping-Multiple-Variables-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Dropping Multiple Variables</a></span><ul class="toc-item"><li><span><a href="#Add-Index-to-a-Dataframe" data-toc-modified-id="Add-Index-to-a-Dataframe-1.2.2.1"><span class="toc-item-num">1.2.2.1&nbsp;&nbsp;</span>Add Index to a Dataframe</a></span></li></ul></li><li><span><a href="#Loading-Excel-with-Pandas" data-toc-modified-id="Loading-Excel-with-Pandas-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Loading Excel with Pandas</a></span></li><li><span><a href="#Rename-Column-Names" data-toc-modified-id="Rename-Column-Names-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Rename Column Names</a></span></li><li><span><a href="#Adding-Column" data-toc-modified-id="Adding-Column-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Adding Column</a></span></li><li><span><a href="#Deleting-a-folder-which-is-not-empty" data-toc-modified-id="Deleting-a-folder-which-is-not-empty-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Deleting a folder which is not empty</a></span></li></ul></li></ul></li><li><span><a href="#MAPS" data-toc-modified-id="MAPS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>MAPS</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Missing Values</a></span></li><li><span><a href="#Drop-the-Missing-values" data-toc-modified-id="Drop-the-Missing-values-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Drop the Missing values</a></span></li><li><span><a href="#Find-unique-values" data-toc-modified-id="Find-unique-values-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Find unique values</a></span></li><li><span><a href="#Difference-Between-Values,-Value_Counts-&amp;-Count" data-toc-modified-id="Difference-Between-Values,-Value_Counts-&amp;-Count-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Difference Between Values, Value_Counts &amp; Count</a></span></li></ul></li><li><span><a href="#Grouping-and-Pivot" data-toc-modified-id="Grouping-and-Pivot-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Grouping and Pivot</a></span></li><li><span><a href="#Useful-Python-Tips" data-toc-modified-id="Useful-Python-Tips-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Useful Python Tips</a></span></li></ul></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Srring-Formatting-Expression" data-toc-modified-id="Srring-Formatting-Expression-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Srring Formatting Expression</a></span></li></ul></li></ul></li><li><span><a href="#LOOPS" data-toc-modified-id="LOOPS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>LOOPS</a></span></li><li><span><a href="#Reading-a-Text-File" data-toc-modified-id="Reading-a-Text-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Reading a Text File</a></span></li><li><span><a href="#Built-In-Modules" data-toc-modified-id="Built-In-Modules-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Built-In Modules</a></span><ul class="toc-item"><li><span><a href="#Upgrade-a-package" data-toc-modified-id="Upgrade-a-package-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Upgrade a package</a></span></li><li><span><a href="#Issues-With-Package-Install" data-toc-modified-id="Issues-With-Package-Install-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Issues With Package Install</a></span></li><li><span><a href="#Help-On-a-Package" data-toc-modified-id="Help-On-a-Package-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Help On a Package</a></span></li><li><span><a href="#Package-Details" data-toc-modified-id="Package-Details-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Package Details</a></span></li><li><span><a href="#Know-Where-the-Package-is-Stored" data-toc-modified-id="Know-Where-the-Package-is-Stored-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Know Where the Package is Stored</a></span></li></ul></li><li><span><a href="#JSON" data-toc-modified-id="JSON-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>JSON</a></span></li><li><span><a href="#SET" data-toc-modified-id="SET-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>SET</a></span></li><li><span><a href="#SQL" data-toc-modified-id="SQL-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>SQL</a></span></li><li><span><a href="#OS-Module" data-toc-modified-id="OS-Module-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>OS Module</a></span></li><li><span><a href="#OPEN-CV" data-toc-modified-id="OPEN-CV-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>OPEN CV</a></span><ul class="toc-item"><li><span><a href="#Concatenation-in-Numpy" data-toc-modified-id="Concatenation-in-Numpy-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>Concatenation in Numpy</a></span></li></ul></li><li><span><a href="#EDA-package" data-toc-modified-id="EDA-package-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>EDA package</a></span></li><li><span><a href="#Some-Imp-Python-Q's" data-toc-modified-id="Some-Imp-Python-Q's-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Some Imp Python Q's</a></span></li></ul></div>

# Table of Contents 

##  Creating Vectors & Matrix

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk
pd.options.display.float_format = '{:.2f}'.format #[numbers ] wil not appear in scientific form 
pd.options.display.float_format = '{:,}'.format # Format a number with commas to values in Python
pd.set_option("display.precision", 2) # set values to 2 after decimal
#if the above set option display precision does not wokr use aa = aa.round(decimals=2) where aa is the dataframe 

#Control +/ comments the multiple lines in Jupyter 
# !pip install jupyter_contrib_nbextensions

C:\Anaconda\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# !pip install jupyter_nbextensions_configurator
# !pip install yapf
# jupyter_contrib_nbextensions.jupyter_nbextensions_configurator
import jupyter_nbextensions_configurator
jupyter_nbextensions_configurator.load_jupyter_server_extension

In [3]:
# Creating a vector - one dimensional and two dimensional :

import numpy as np 
vector_row = np.array([1,2,3])
print(vector_row)
vector_col = np.array([[1],
                     [2],
                     [3]])
vector_col

matrix = np.array([[1,2],
                  [2,3,],
                  [5,5]])
matrix

[1 2 3]

array([[1, 2],
       [2, 3],
       [5, 5]])

### Selecting a subset of data

In [4]:
vecr1 = np.array([1,2,3,4,5,6,6,7])
vecr1[2]
vecr1[2:4]

array([3, 4])

In [5]:
max= np.array([[1,2,3],
             [3,4,4],
              [5,5,7],
             [6,7,8]])
max

max[2,2] # third row and third column

7

#### Selecting few rows and columns

In [6]:
max[:] # selecting entire data of a vector

array([[1, 2, 3],
       [3, 4, 4],
       [5, 5, 7],
       [6, 7, 8]])

In [7]:
# Selecting first element to the third
vecr1[:3]

# selectnig all vectors post third
vecr1[3:]

array([4, 5, 6, 6, 7])

### Mathematical ops on Matrices

In [8]:
x = np.array([1,5,2])
y = np.array([7,4,1])
x + y

array([8, 9, 3])

In [9]:
x * y
x - y

array([-6,  1,  1])

In [10]:
x = np.array([1,2,3])
y = np.array([-7,8,9])
np.dot(y,x)

36

In [11]:
dot = np.dot(x,y)
x_modulus = np.sqrt((x*x).sum())
y_modulus = np.sqrt((y*y).sum())
y_modulus

#modulus in the remainder when we do a division

cos_angle = dot / x_modulus / y_modulus # cosine of angle between x and y
angle = np.arccos(cos_angle)
angle

0.808233789010825

In [12]:
np.cross(y,x)

array([  6,  30, -22])

#### List Examples

In [13]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
a=list(range(1,100,5))
a
rainfall = [100, "I dont know", 12.2, list(range(1,35,2))]
print(rainfall)
a.append(200)
print(a)

rainfall.append(220)
print(rainfall)


# How to add a list within a list

[100, 'I dont know', 12.2, [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96, 200]
[100, 'I dont know', 12.2, [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33], 220]

#### Working with string and list

In [15]:
test = "this is a new bright day"
test[-10:]

'bright day'

In [16]:
sunday = [1,2,3,3,4,4,5,5,6,6,39]
sunday[-1]
# getting the last obs from a list 
# sunday[1:3]
# sunday [-2:]

39

In [17]:
b = ['abc' , 'def', 'ghi', 'jkl', 'mno'][-2:][-2:]
b

['jkl', 'mno']

In [18]:
# pip install jupyterthemes
import jupyterthemes

### Indexes

1. Indexes in python are immutable like dictionary as in they cannot be changed   
1. Series in python is a one dimensional array that can have either row or column

In [19]:
prices= [10.5,11, 11.5, 14, 12,10.79, 10.86]
shares = pd.Series(prices)
print(shares)

0    10.5
1    11.0
2    11.5
3    14.0
4    12.0
5   10.79
6   10.86
dtype: float64

In [20]:
days = ["Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday","Sunday"]
shares= pd.Series(prices,index=days)
print(shares)
# with indexing we are able to extract data from just like specifying elements or position in a list

Monday       10.5
Tuesday      11.0
Wednesday    11.5
Thursday     14.0
Friday       12.0
Saturday    10.79
Sunday      10.86
dtype: float64

In [21]:
print(shares.index[2:])
print(shares.index[:2])

Index(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], dtype='object')
Index(['Monday', 'Tuesday'], dtype='object')

In [22]:
# Name attribute in index
print(shares.index.name)
# Currently this shows as none as we have not assigned any name to the index

None

In [23]:
shares.index.name= 'WeekDay'
print(shares)

WeekDay
Monday       10.5
Tuesday      11.0
Wednesday    11.5
Thursday     14.0
Friday       12.0
Saturday    10.79
Sunday      10.86
dtype: float64

When loading a dataframe we can assign an index there itself for example:
abc= pd.read_csv("filename",index_col='Nameofthecolumn that need to be index')

In [24]:
cubes= [] # empty list
for a in range(10):
    cubes.append(a**3)
a=[2,3,4,5]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### Hierarchical/Multi Indexing

set_index can be used for hierarchical indexing followed by the name of the variables

In [25]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays)) # creates one elements fron 2 list of tuples
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [26]:
index = pd.MultiIndex.from_tuples(tuples,names=['One', 'Two'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['One', 'Two'])

In [27]:
df = pd.DataFrame(np.random.randn(3,4), index=['A', 'B', 'C'])
df

,0,1,2,3
A,0.989668800877051,-0.33988011475412566,0.007781357194904195,-0.8739440742379381
B,1.359593114807846,-1.4445793493673424,-0.3146783192479256,1.8307773669942646
C,-0.6280520392348404,0.1788695327736789,2.6508983038673155,0.17322303417506754

In [28]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df
df.T

                           A                    B                    C
One Two
bar one    0.549608663964465 -0.16256469964247483  -1.5434296137780836
    two   1.3527205260767545   -0.581228042823102   0.6702511670292981
baz one   1.2780383685849128   1.1227941024868366   2.2327313647895792
    two  -0.3940772589297542  0.17211918318247452 -0.04640986362374943
foo one   1.3059885648191853   1.9734113393398047  -1.3856700910770468
    two  -0.6902416161803699  0.12516920884652014   0.1394060265969617
qux one -0.22176497742860324  -0.4894786934118035   1.3928515637782697
    two  -0.9838578150663756  -1.1927079377471175  -0.7005686046751781

## Working with dataframe- Subsetting

In [29]:
#selecting first row 
max= np.array([[1,2,3],
             [3,4,4],
              [5,5,7],
             [6,7,8]])

max[:1,]
max[:2,:] # selecting first 2 rows and all columns 
max[:,1:2] # selecting all rows and second column

array([[2],
       [4],
       [5],
       [7]])

In [30]:
slicing_1 = pd.read_csv("2016-stack-overflow-survey-responses.csv")
slicing_1.head(4)
slicing_1.iloc[4,7]
# slicing_1.iloc[:,1:5]# all rows and 5 column 
# iloc defines how to pick up observations from data,it is rows followed by column 
type(slicing_1)

pandas.core.frame.DataFrame

In [31]:
slicing_1['age_range'][1:5] # fetches rows from age range column and rows number 1 to 4, 0 is not included

1    30-34
2      NaN
3      NaN
4     > 60
Name: age_range, dtype: object

In [32]:
slicing_1.head(2)

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...

In [33]:
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine',
            'Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine'],
    'Exam':['Semester 1','Semester 1','Semester 1','Semester 1','Semester 1','Semester 1',
            'Semester 2','Semester 2','Semester 2','Semester 2','Semester 2','Semester 2'],
     
    'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science',
               'Mathematics','Mathematics','Mathematics','Science','Science','Science'],
   'Score':[62,47,55,74,31,77,85,63,42,67,89,81]}
 
df = pd.DataFrame(d,columns=['Name','Exam','Subject','Score'])
df
# df.loc[1]
df[['Name','Score']]
df.set_index('Name',inplace=True)
df.loc['Alisa']
df.loc[:,['Exam','Score']].head(3)

                Exam  Score
Name
Alisa     Semester 1     62
Bobby     Semester 1     47
Cathrine  Semester 1     55

In [34]:
slicing_1.iloc[0:8,1:3] # fetching first 8 rows and 3 columns

  collector      country
0  Facebook  Afghanistan
1  Facebook  Afghanistan
2  Facebook  Afghanistan
3  Facebook  Afghanistan
4  Facebook  Afghanistan
5  Facebook  Afghanistan
6  Facebook  Afghanistan
7  Facebook  Afghanistan

### Selecting Few Rows/Columns

In [35]:
# selecting all rows and few columns
slicing_1.loc[0:10, 'country':'age_range'] # seelcts first 1o rows and few columns from country to age range

        country     un_subregion       so_region               age_range
0   Afghanistan    Southern Asia    Central Asia                   20-24
1   Afghanistan    Southern Asia    Central Asia                   30-34
2   Afghanistan    Southern Asia    Central Asia                     NaN
3   Afghanistan    Southern Asia    Central Asia                     NaN
4   Afghanistan    Southern Asia    Central Asia                    > 60
5   Afghanistan    Southern Asia    Central Asia                   20-24
6   Afghanistan    Southern Asia    Central Asia  Prefer not to disclose
7   Afghanistan    Southern Asia    Central Asia                   25-29
8       Albania  Southern Europe  Eastern Europe                   25-29
9       Albania  Southern Europe  Eastern Europe                   20-24
10      Albania  Southern Europe  Eastern Europe                   25-29

In [36]:
# selecting all columns and few rows 
slicing_1.loc['Afghanistan':'Germany',:]

Empty DataFrame
Columns: [Unnamed: 0, collector, country, un_subregion, so_region, age_range, age_midpoint, gender, self_identification, occupation, occupation_group, experience_range, experience_midpoint, salary_range, salary_midpoint, big_mac_index, tech_do, tech_want, aliens, programming_ability, employment_status, industry, company_size_range, team_size_range, women_on_team, remote, job_satisfaction, job_discovery, dev_environment, commit_frequency, hobby, dogs_vs_cats, desktop_os, unit_testing, rep_range, visit_frequency, why_learn_new_tech, education, open_to_new_job, new_job_value, job_search_annoyance, interview_likelihood, how_to_improve_interview_process, star_wars_vs_star_trek, agree_tech, agree_notice, agree_problemsolving, agree_diversity, agree_adblocker, agree_alcohol, agree_loveboss, agree_nightcode, agree_legacy, agree_mars, important_variety, important_control, important_sameend, important_newtech, important_buildnew, important_buildexisting, important_promotion, important_companymission, important_wfh, important_ownoffice, developer_challenges, why_stack_overflow]
Index: []

[0 rows x 66 columns]

In [37]:
slicing_1.iloc[0:5,] # 5 rows and all columns

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...
2,11164,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21378,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,nan,Female,Engineer,DevOps,...,I don't care about this,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,This is very important,This is somewhat important,Corporate policies; Interacting with non-techn...,To get help for my job; Beacause I love to learn
4,30280,Facebook,Afghanistan,Southern Asia,Central Asia,> 60,65.0,Prefer not to disclose,Developer; Engineer; Programmer; Sr. Developer...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Difference between loc and iloc__:    
Loc = finds or subsets the data basis the name of the var     
iLoc = finds or subsets the data basis the position of the var

In [38]:
slicing_1[slicing_1.self_identification=='Developer']
slicing_1[slicing_1.self_identification!='Developer']

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...
2,11164,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21378,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,nan,Female,Engineer,DevOps,...,I don't care about this,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,This is very important,This is somewhat important,Corporate policies; Interacting with non-techn...,To get help for my job; Beacause I love to learn
4,30280,Facebook,Afghanistan,Southern Asia,Central Asia,> 60,65.0,Prefer not to disclose,Developer; Engineer; Programmer; Sr. Developer...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,3443,Facebook,Germany,Western Europe,Western Europe,35-39,37.0,Male,Full-stack Developer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,3444,Facebook,Germany,Western Europe,Western Europe,30-34,32.0,Male,Developer; Manager; Ninja,"Executive (VP of Eng., CTO, CIO, etc.)",...,I don't care about this,This is very important,This is somewhat important,This is somewhat important,This is somewhat important,This is somewhat important,This is somewhat important,This is somewhat important,NaN,NaN
1996,3447,Facebook,Germany,Western Europe,Western Europe,20-24,22.0,Male,Rockstar; Full Stack Overflow Developer; Hacker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,3451,Facebook,Germany,Western Europe,Western Europe,50-59,54.5,Male,Ninja,Embedded application developer,...,I don't care about this,This is very important,This is very important,This is very important,I don't care about this,I don't care about this,This is somewhat important,This is somewhat important,Poor team dynamics; Inefficient development pr...,I don't really use Stack Overflow. I just take...
1998,3454,Facebook,Germany,Western Europe,Western Europe,30-34,32.0,Male,Developer; Engineer; Programmer; Rockstar,other,...,This is somewhat important,This is very important,This is very important,This is very important,This is very important,This is very important,This is very important,This is very important,Poor team dynamics; Inefficient development pr...,To get help for my job

In [39]:
slicing_1.columns
# find name of all columns 
slicing_1.shape
# find total rows and columns

(1999, 66)

In [40]:
slicing_1[slicing_1.self_identification=='Developer'].self_identification.count()

188

### Dropping Multiple Variables 
modDfObj = dfObj.drop(['Age' , 'Name'] , axis='columns')     
imb.drop(['Unnamed: 32'] , axis=1, inplace=True)

In [41]:
slicing_1.describe()
# Finding Summary Statiscs

,Unnamed: 0,age_midpoint,experience_midpoint,salary_midpoint,big_mac_index,programming_ability
count,"1,999.0","1,985.0","1,705.0","1,433.0","1,548.0","1,686.0"
mean,"25,590.616808404204",28.455415617128462,6.455718475073314,"39,546.406140963016",4.00614341085263,7.102609727164888
std,"17,656.53170898033",8.212979139865949,4.343449735112469,"35,640.636958217256",0.44558400350284844,1.7687106600379932
min,65.0,16.0,0.5,"5,000.0",2.68,1.0
25%,"7,522.5",22.0,3.5,"15,000.0",3.76,6.0
50%,"26,244.0",27.0,3.5,"35,000.0",4.25,7.0
75%,"42,467.0",32.0,8.0,"55,000.0",4.41,8.0
max,"53,155.0",65.0,13.0,"210,000.0",4.41,10.0

In [42]:
slicing_1.isna().sum() # gives true and false for missing entries

Unnamed: 0                    0
collector                     0
country                       0
un_subregion                  0
so_region                     0
                           ...
important_companymission    594
important_wfh               598
important_ownoffice         595
developer_challenges        634
why_stack_overflow          627
Length: 66, dtype: int64

In [43]:
import pandas as pd
df1= pd.DataFrame([2,4,6],[4,8,9])
df1

   0
4  2
8  4
9  6

In [44]:
df2= pd.DataFrame([[1,2,3],[4,5,6]], columns=['One','Two','Three'])
df2

   One  Two  Three
0    1    2      3
1    4    5      6

#### Add Index to a Dataframe

In [45]:
df11= pd.DataFrame([[11,22,33,],[34,45,56]], columns=['One','Two','Three'], index=["First","Second"])
df11

        One  Two  Three
First    11   22     33
Second   34   45     56

In [46]:
df11['One'].mean()
df11.Three.mean()

44.5

### Loading Excel with Pandas

In [47]:
import xlrd
pd.read_excel('supermarkets.xlsx')

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

### Rename Column Names

In [48]:
a= pd.read_csv("vegetables.txt", header=None)
a.columns=["Eatbale"]
a

   Eatbale
0   Tomato
1   Burger
2  Teabags
3  Teabags

### Adding Column

In [49]:
a["country"]=a.shape[0]*["North America"]
a

   Eatbale        country
0   Tomato  North America
1   Burger  North America
2  Teabags  North America
3  Teabags  North America

### Deleting a folder which is not empty

In [50]:
import shutil

shutil.rmtree('/folder_name') # full name of the folder with directory name

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/folder_name'

# MAPS

In [ ]:
# !pip install geopy
from geopy.geocoders import ArcGIS
nom = ArcGIS()
# pop= pd.read_csv("supermarkets.csv")
# pop

In [ ]:
pop["New_Address"]= pop["Address"]+ " " + pop["City"] + " " + pop["State"]+ " " + pop["Country"]
pop

In [ ]:
pop["Coordinates"]= pop["New_Address"].apply(nom.geocode)
pop.Coordinates[1]

In [ ]:
pop["Latitude"]= pop["Coordinates"].apply(lambda x:x.latitude)
pop
# above we have created a temporary variable x and for each of the values in x we apply a funxtion 
# to get latitude
pop["Longitude"]= pop["Coordinates"].apply(lambda x:x.longitude)
pop

### Missing Values

In [ ]:
slicing_1.isnull().sum()

In [ ]:
slicing_1.isnull().sum(axis=1) 
#axis = 1 counts missing from each row where as axis = 0 finds missing from columns

In [ ]:
slicing_1.isnull().sum(axis=0)

In [ ]:
slicing_1['age_midpoint'].median()
slicing_1['age_midpoint'].describe()

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

### Drop the Missing values

In [ ]:
df.dropna()  # this keeps only non missing values

Drop the columns where at least one element is missing.

In [ ]:
df.dropna(axis='columns') # only keeps columns which have non missing values

Drop the rows where all elements are missing

In [ ]:
df.dropna(how='all') # deltes basis rows if all rows are missing

Keep only the rows with at least "N" non-NA values

In [ ]:
df.dropna(thresh=2) # here we have given a threshold to show those rows where atleast 2 values are mssing. 
# if we have hundredes of rows we can change this threshold

### Find unique values

In [ ]:
import numpy as np
a1= np.unique(slicing_1['country'])
a1

In [ ]:
# replacing with median and checking if there are any more missing values 
slicing_1['age_midpoint']=slicing_1['age_midpoint'].fillna((slicing_1['age_midpoint'].median()))
slicing_1['age_midpoint'].isnull().sum()

In [ ]:
# Missing values on a categorical Variable
slicing_1['gender']= slicing_1['gender'].fillna(slicing_1['gender'].value_counts().index[0])
slicing_1['gender'].isnull()


# #value_counts() returns the freq distr of each categry in var and then selecting the top category 
#The value_counts() function is used to get a Series containing counts of unique values

slicing_1['self_identification'].value_counts()
# to find details on total values in a categpry we can use value count 


slicing_1['self_identification'].value_counts().count()
# gives a total combined number of unique combinations or entries in self_identiication column

slicing_1['self_identification'].values

slicing_1['self_identification'].value_counts(normalize=True)*100

### Difference Between Values, Value_Counts & Count

In [ ]:
"""
1- Values= gives us all possible unique combination of var in a column- example above dta set we have 
column name self_identification - in this values gives all possible combinations like developer, 
developer& programmer etc.

2- Value_counts = gives us count of unique combinations in the data , i.e. how may times a combination 
occured

3- Count = gives total aggregated number. if we apply count on column name self_identification,it will tell us 
how many unique entries as a count we have 

4- Value_counts [normalize=True] = gives us count of unique combinations in the data , i.e. how may times a combination 
occured in %. 

"""

## Grouping and Pivot

In [ ]:
pd.set_option("display.precision", 2)
slicing_1['country'].value_counts()

# pd.pivot_table(slicing_1,index=["gender"])

In [ ]:
pd.pivot_table(slicing_1, index= ["gender","country"])

In [57]:
pd.pivot_table(data=slicing_1, index='gender', values='country', aggfunc='count').reset_index()
slicing_1.head(2)

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...

In [82]:
pd.set_option("display.precision", 2)
a = slicing_1.pivot_table(values='age_midpoint',
                          columns='gender',
                          index='country',
                          fill_value='Aoo Lolita')
a.round(decimals=2)

gender                         Female  Male       Other Prefer not to disclose
country
Afghanistan                Aoo Lolita  27.0  Aoo Lolita                   43.5
Albania                          27.0 23.25        27.0                   27.0
Algeria                    Aoo Lolita 23.86  Aoo Lolita             Aoo Lolita
Andorra                          22.0  44.5  Aoo Lolita             Aoo Lolita
Antigua & Deps             Aoo Lolita  22.0  Aoo Lolita             Aoo Lolita
Argentina                        29.5 31.12  Aoo Lolita             Aoo Lolita
Armenia                    Aoo Lolita 20.44  Aoo Lolita             Aoo Lolita
Australia                        35.5 33.26  Aoo Lolita             Aoo Lolita
Austria            29.142857142857142  28.9        27.0                   24.0
Azerbaijan                 Aoo Lolita  24.5  Aoo Lolita             Aoo Lolita
Bahamas                    Aoo Lolita  65.0  Aoo Lolita             Aoo Lolita
Bangladesh                       22.0 24.65  Aoo Lolita                   22.0
Belarus                    Aoo Lolita  29.5  Aoo Lolita             Aoo Lolita
Belgium            25.333333333333332 27.03  Aoo Lolita             Aoo Lolita
Belize                     Aoo Lolita  44.5  Aoo Lolita             Aoo Lolita
Bolivia                    Aoo Lolita  24.5  Aoo Lolita             Aoo Lolita
Bosnia Herzegovina               22.0 24.18  Aoo Lolita             Aoo Lolita
Botswana                   Aoo Lolita  22.0  Aoo Lolita             Aoo Lolita
Brazil                           23.5  28.2        32.0             Aoo Lolita
Bulgaria                   Aoo Lolita 25.77  Aoo Lolita             Aoo Lolita
Burkina                    Aoo Lolita  32.0  Aoo Lolita             Aoo Lolita
Cambodia                         27.0  27.0  Aoo Lolita             Aoo Lolita
Canada                           19.0 29.23        27.0             Aoo Lolita
Chile                      Aoo Lolita 28.11  Aoo Lolita             Aoo Lolita
China                      Aoo Lolita 28.31  Aoo Lolita             Aoo Lolita
Colombia                   Aoo Lolita 29.25  Aoo Lolita             Aoo Lolita
Costa Rica                       32.0 27.56  Aoo Lolita             Aoo Lolita
Croatia                          27.0 25.58  Aoo Lolita             Aoo Lolita
Cyprus                           27.0  29.0  Aoo Lolita             Aoo Lolita
Czech Republic                   27.0 23.99  Aoo Lolita             Aoo Lolita
Denmark            24.666666666666668 30.89  Aoo Lolita                   16.0
Dominican Republic         Aoo Lolita 25.75  Aoo Lolita             Aoo Lolita
Ecuador                    Aoo Lolita  27.0  Aoo Lolita             Aoo Lolita
Egypt                            22.0 25.59        16.0                   32.0
El Salvador                Aoo Lolita  27.0  Aoo Lolita             Aoo Lolita
Estonia                    Aoo Lolita 26.75  Aoo Lolita             Aoo Lolita
Finland            29.142857142857142 31.08  Aoo Lolita                   22.0
France             27.392857142857142  27.5  Aoo Lolita                   29.5
Georgia                          27.0  22.4  Aoo Lolita             Aoo Lolita
Germany                          31.4 29.24        32.0     21.666666666666668

In [ ]:
#Need to check this 
slicing_1.groupby("country")["women_on_team"].count()
# here we need tot first defvine which var we need to group on here it is country and then specify the col on which 
# we need to perform aggregation 

slicing_1["women_on_team"].value_counts(sort=True,ascending= False)

In [ ]:
a=slicing_1.groupby(["country", "gender"], as_index=False)["women_on_team"].count()
a.head(12)

#if we dont apply as_index = false this will create a series object and not a data frame

In [ ]:
a.groupby("country")
slicing_1[slicing_1.country=="Argentina"]

## Useful Python Tips

  * index min and max - start and end of data range: if we have __date range__ we can know start and end of date column
  * pd.set_option("display.precision", 2)- setting decimal points in obs 
  * dir(__builtins__)  - to know all builtin functions in python
  * How call functions in python 
      - List is called by [] and the values are seperated by a comma, these are mutable meaning be changed, appended or 
      deleted
      - functions like sum, max, min etc arr called by using ()
      - Dictionary is called by using {}
      - Tuple are cLLED by using ()- these are immutable meaning these cannot be changed, appended or 
      deleted. __Tuples are however a bit faster than lists__
      - list.remove can only remove one observation at a time

In [ ]:
#slicing_1.index.max()
#slicing_1.index.min()

#index min and max tells about the starting location and the end. 
#if there are date stamp we can find from what date min and max we have observations from

In [ ]:
dir(__builtins__)
# Counting entries of specific observation
student_grades = [9.1, 8.8, 10.0, 7.7, 6.8, 8.0, 10.0, 8.1, 10.0, 9.9]
print(student_grades.count(10))
test = ["A","B","A","C","A","A"]
print(test.count("A"))

# Dictionary

In [ ]:
student_grades= {"Marry":90, "Prince":91,"Athen":89}
student_grades.keys()

"""
Dict have keys i.e. unique identifiers and values which contain values assigned to these keys 
"""
population = {'Shanghai': 17.8, 'Istanbul': 13.3, 'Karachi':13.0, 'Mumbai':12.5}
print(population)

day_temperatures = {'morning':('12.2','13.2','10.8'),'noon':('23.1','22.8','26.5'),
                    'evening':('10.4','7.5','1.8')}
day_temperatures
#This is an example of dictionary and tuple 

# #Complex and more useful example of dictionary
book_info = { 'title': 'Learning Python',
             'pages': 342,
             'pub_date': 'November 2016',
             'chapters': 14,
            }
print("The book is called %(title)s, and it was released on %(pub_date)s." 
      "It is %(pages)d pages long with %(chapters)d chapters." % book_info)

# Functions

In [ ]:
def mean(mylist):  
    the_mean = sum(mylist)/ len(mylist) 
    return the_mean
# within paranthesis we can define a paramter, input to function    
# to call the function we call the function as below:
print(mean([1,4,6,6,6,6,6]))
# functins start with def and followed by the name of the function. here it is mean  
# above we wrote a function to cal mean, gave function a name mean, defined parameter as a list 
# of observations, tell python how to calc mean and store it in a var the_mean

def test1(mylist):
    new1= mylist * mylist 
    return new1

test1(3)
# defining a function to calc square root

In [ ]:
def mean(datast):
    if type(datast)== dict:
        the_mean = sum(datast.values())/ len(datast)
    else:
        the_mean= sum(datast)/len(datast)
    return the_mean

grades = {"Marry":200,"Apy":100,"Cindy":175}
print(mean(grades))
# Creating a function to mean if its a list or dict

In [ ]:
# if 3>1 :
#     print('a')
    
# def foo (pass):
#     if (pass =='string') & len(pass<=8):
#         return True
#     else: 
#         return "False"
        
# __InterView question:__
# def weather (temperature):
#     if temperature >7:
#         return "Warm"
#     else: 
#         return "Cold"

# input("Enter temperature:")
# # ///user_input = input("Enter Temperature")
# print(weather(user_input))
# the problem with the above program is that the input is a string whereas the number we are adding as temperature 
#is an integer
def weather (temperature):
    if temperature > 7:
        return "Warm"
    else: 
        return "Cold"

# input("Enter temperature:")
user_input = float(input("Enter Temperature"))
print(weather(user_input))

### Srring Formatting Expression

In [ ]:
user_t = input("Enter your name:")
message = f"Hello! {user_t}"
print(message)

In [ ]:
name = input("Enter Your Name:")
surname = input ("Enter Your Surname:")
message = f"Hello! {name} {surname}"
print(message)

# similarly we add multiple variables in the message and input statement

In [ ]:
name = input("Enter Your Name:")
surname = input ("Enter Your Surname:")
when = ("today")
miss = ("Are you missing someone")
message = f"Hello! {name} {surname} what'up {when} {miss}"
print(message)

# similarly we add multiple variables in the message and input statement

In [ ]:
def foo(name):
    return "Hi %s" % name

In [ ]:
print(name)

# LOOPS

In [ ]:
monday_temp = [9.2,9.8,10.2]
print(round(monday_temp[2]))

# if we want to slect all obs we can do it using [:]  # Interview question 
for data in monday_temp:
    print(round(data))

In [ ]:
colors = [11, 34, 98, 43, 45, 54, 54]
for temp in colors:
    if temp > 50:
        print(temp)
#printing number greater than 50

In [ ]:
colors = [11, 34.1, 98.2, 43, 45.1, 54, 54]

for test in colors:
    if type(test)==int:
        print(test)
        
#Printing only intergers

In [ ]:
student_grade= {'Marry':9.1, 'Larry':9.4,'Harry':9.5}
for test in student_grade.items():
    print(test)

# # For loop with dictionary 

phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
 
for pair in phone_numbers.items():
    print("{} has as phone number {}".format(pair[0], pair[1]))

In [ ]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}

for key, value in phone_numbers.items():
    print("%s: %s" % (key, value))

In [ ]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}

for plan in phone_numbers.values():
    print (plan.replace("+","00"))  # using replace function to replace + with 00

In [ ]:
def sentence_maker (phrase):
    interrogatives = ("how","when","why","where", "would")
    capitalise = phrase.capitalize()
    if phrase.startswith(interrogatives):
        return "{}?".format(capitalise)
    else: 
        return "{}.".format(capitalise)

# print(sentence_maker("how are you"))
print(sentence_maker("Is Ashish you old enough to watch porn"))

In [ ]:
"how are you".capitalize()

In [ ]:
temps = [11,22,33,123,-25]

new_temp = [val / 10 for val in temps if val!= -9999]
new_temp

In [ ]:
def foo(lst):
    return sum([float(i) for i in lst])

lst = [1,1,2,6,6.7,7.8]
print(foo([1,1,2,6,6.7,7.8]))

In [ ]:
# define a function to capitalise all in the list in alphbatical order 
def foo(*args):
    args = [x.upper() for x in args]
    return sorted(args)

print(foo("delhi","mumbai","calcutta"))

#  Reading a Text File

In [ ]:
file = open("flights.csv.txt")
content = file.read()
print(content)

In [ ]:
file = open("flights.csv.txt")
content = file.read()
file.close()
print(content[1:5:])

In [ ]:
#Creating a new text file and saving it in the directory 

with open("vegetables.txt","w") as myfiles:
    myfiles.write("Tomato\nBurger")

# #addin more contents:
# with open ("vegetables.txt","w") as myfiles: # w is for write 
#     myfiles.write("Tomato\nCucumber\nOnion Garlic") # the \n is to create space and add a new element to the next line 
"""
r= readng file
w= write file 
x= create a new file and open it for writing, cannot append or add 
a= open for writing, appending to the end of the file if it exists 
b= binary mode
t = text mode[default]
+ = open a disk file for updating (reading and writing)

"""

In [ ]:
# add new data to existing file and then print frm line 0
with open ("vegetables.txt", "a+") as myfiles:
    myfiles.write("\nTeabags")   # using a+ to add a new data and print as well , write is to write data 
    content = myfiles.read()
    
# now if we try to print this file it will not work hence we will have to add another line i.e. seek before content 
with open ("vegetables.txt", "a+") as myfiles:
    myfiles.write("\nTeabags")   # using a+ to add a new data , write is to write data 
    myfiles.seek(0)  # this reads from the first element of the file 
    content = myfiles.read()
print(content)

# Built-In Modules

In [ ]:
import sys
sys.builtin_module_names

# to use any of the built in module name we use it by import it 
import time
dir(time)# from here we can see what is in that module 
# # to use one of the builtin from time we can use help to see how it works 
help(time.sleep)

# know python version -- 
print (sys.version)

## Upgrade a package

In [ ]:
#pip3 install --upgrade sweetviz from anaconda prompt

## Issues With Package Install

<font color = 'red'> __There are sometimes issues with pip to install packages and we see error like _<font color = 'blue'>Permission denied error by installing [package name]</font>_ then we can install the package using a command like below:__   
 * !pip install ['Name of the package'] --user

## Help On a Package

In [ ]:
# help("sweetviz") name of the package after help

## Package Details

In [ ]:
pip show sweetviz

## Know Where the Package is Stored

In [ ]:
import site
site.getsitepackages()

In [ ]:
# write a program to print contents of a file every ten seconds using built ins:
import time 
while True:
    with open("vegetables1.txt") as file:
        print(file.read())
        time.sleep(20)  # reading a program every 20 seconds [ time takes the argument in seconds]

# DONT RUN THE ABOVE PROGRAM IT WIL RUN ENDLESSLY

In [ ]:
# Automating some task like printing new dataset every day with builtin [ say every 24 hours we need a new file with 
#mean of that file ]

import time 
import pandas as pd
import os 

while True: 
#     if os.path.exists("C:\Users\51613014\Flights_Smaller.txt") # here we are checking if the file exists or not 
    data = pd.read_excel("BBCS_989_CASES.xlsx")
    print(data['forecast_amnt'].mean())
#     else: 
#         print("Retry")
    time.sleep(20)

# JSON

In [ ]:
import json

In [ ]:
data = json.load(open("data.json"))
type(data)
# data["rain"]
data

In [ ]:
# Loading with pandas
pd.read_json("supermarkets.json")

In [ ]:
def meaning (w):
    return data [w]

word = input("Enter Word: ")
print (meaning(word))  # this word which we are entering has to be part of the dictionary we have json file 
#else there would be error message

In [ ]:
# however to chmage this behaviour we can use an if statement 
def hello(w):
    w= w.lower()
    if w in data:
        return data[w]
    else:
        return "Word Does Not Exist, Please check again"
    
word = input("Enter Word: ")
print(hello(word))

In [ ]:
# Creating a list when users type a word there could be a possibility that there would be spelling mistakes etc. hence 
# we create a list where the words in the list would be closer to actual word

import difflib  # to match sequence 
from difflib import SequenceMatcher
SequenceMatcher(None, "rainn","rain").ratio() # here none refers to , followed by misspelled word and actual word 
# the ratio tells how close the mismatched word is to the actual word 

from difflib import get_close_matches
# help(get_close_matches)
get_close_matches("rain",["rain","raining","testing","raw"]) # keeping the cutoff as default 


# #Now we cn look at the matching word in our data dictionary 
# data.keys()

get_close_matches("test",data.keys(),n=4)  #n = number of close matches we can request

In [ ]:
# Program to let user find an exact match, a close match or no match 
import json 
import pandas 
import difflib
from difflib import SequenceMatcher
from difflib import get_close_matches
data = json.load(open("data.json"))

def scenario (w):
    w= w.lower()
    if w in data:
        return data[w]
    elif len(get_close_matches(w, data.keys()))>0:  # here we are asking the value of "w" should be greater than 0 
        #in data.keys then we should get its close and macthes , below return 0 means the closest match
        return input("Did you mean %s instead?"  % get_close_matches(w,data.keys())[0]) 
    else:
        return "The word does not exist in the data, please check the data"

word = input("Enter the Word: ")
print(scenario(word))

 Program to let user find an exact match, a close match or no match . __In case of No Match the user will be able to input that close match value__

In [ ]:
def scenario1(w):
    w= w.lower()
    if w in data:
        return dat [w]
    elif len(get_close_matches(w, data.keys()))>0:
        yn= input ("Did you mean %s instead? Enter Y if yes or N if no:" % get_close_matches(w, data.keys())[0])
        if yn == "Y":
            return data [ get_close_matches(w, data.keys())[0]]
        else:
            return "The word does not exist. Please check again"
        

word = input("Please enter the word: ")
print(scenario1(word))

# SET 
A set is like a list but it can only hold unique values.

pet1= set(['hello','world','friends','how'])
pet2 = set(['how','are','you','friends','are'])
pet2

another important use of SET is that as it only hold unique values it can remove dups from a list 
numbers = [1,2,3,4,5,6,6,7,7]
Sets support the in operator the same as lists do. You can add elements to sets using the add method, and remove elements using the pop method, similar to lists hence making it as MUTABLE OPTION. Remember set are unordered so while we pop a random observation wouild be deleted

# SQL

In [ ]:
# !pip install mysql-connector-python
import mysql.connector
con = mysql.connector.connect(
user = "ardit700_student",
password = "ardit700_student",
host = "108.167.140.122",
database = "ardit700_pm1database"
)

# cursor = con.cursor() 
# query = cursor.execute("SELECT * from Dictionary limit 10 ")
# result = cursor.fetchall()

# print(result)

In [ ]:
cursor = con.cursor()
query = cursor.execute("SELECT * from Dictionary where Expression = 'inlay' ")
result1 = cursor.fetchall()
print(result1)

cursor = con.cursor()
query = cursor.execute("SELECT * from Dictionary where Expression = 'line' ")
result2 = cursor.fetchall()
print(result2)

query= ("SELECT * FROM Dictionary WHERE Expression  LIKE 'r%'")
result3= cursor.fetchall()
print(result3)

In [ ]:
for test in result2:
    print(test)

for test1 in result2:
    print(test1[1]) # secpond variable from the data

In [ ]:
word = input("Enter a word: ")

# import mysql.connector
# con = mysql.connector.connect(
# user = "ardit700_student",
# password = "ardit700_student",
# host = "108.167.140.122",
# database = "ardit700_pm1database"
# )
# cursor = con.cursor()
query = cursor.execute("SELECT * from Dictionary where Expression = '%s' " %word)
result3= cursor.fetchall()

if result3:
    for test in result3:
        print (test) 
else:
            print("No Word!")

# OS Module

In [ ]:
import os

In [ ]:
print(dir(os))

In [ ]:
print(os.stat('Mani Forecast Analysis Insurance NMA.xlsx').st_size)
# to know the size of the file

In [ ]:
# to know when the file was last edited
from datetime import datetime
mod_time =os.stat('vegetables1.txt').st_mtime
print(datetime.fromtimestamp(mod_time))

# OPEN CV

In [ ]:
!pip install opencv-python

In [ ]:
import cv2

im_g = cv2.imread("datascienceworkflow1.png",0)  # 0= if we want to read image in grey scale
#1 when we want to read image in BGR scale :blue green red
im_g

In [ ]:
im_g = cv2.imread("datascienceworkflow1.png",0)
im_g

In [ ]:
im_g[0:2]  # first 2 rows

In [ ]:
im_g[0:5,4:8]  # 0 to 5 row and 5 to 8 column

In [ ]:
im_g.shape

In [ ]:
for i in im_g:
    print(i)

In [ ]:
for i in im_g.flat:
    print(i)   # indexing values one by one

In [ ]:
# COncatenating 2 arrays:
a= np.array([[2,2],
           [3,3],
           [4,5]])

In [ ]:
a

In [ ]:
b= ([[45,56],
    [100,120],
    [22,2]])

In [ ]:
b

## Concatenation in Numpy

In [ ]:
c= np.hstack((a,b))    #horizontally stack

In [ ]:
c

In [ ]:
print(c)

In [ ]:
d= np.vstack((a,b))    #veritcally stack

In [ ]:
d

In [ ]:
e= np.hsplit(c,2)  # ensure how many column you have basis that numpy will try to split equally
# so if we have 10 columns we can have even number of split as each array needs to be equal split

In [ ]:
e

In [ ]:
!pip install folium

In [ ]:
import folium

In [ ]:
dir(folium)

In [ ]:
map = folium.Map(location=[28.626550, 77.092430], zoom_start=24)
map.save("Map1.html")
map

# EDA package

In [ ]:
import sweetviz as sv

In [ ]:
train = pd.read_csv("titanic_train.csv")
test = pd.read_csv("titanic_test.csv")

In [ ]:
my_report = sv.compare([train, "Train"], [test, "Test"], "Survived") 
# define the outcome var

In [ ]:
my_report.show_html("Shivi.html")

In [ ]:
my_report1 = sv.analyze(train, target_feat="Survived", feat_cfg=sv.FeatureConfig(skip="PassengerId"))
# the above after analyze are all optional

In [ ]:
my_report1.show_html()

# Some Imp Python Q's

1. When __performance__ is paramount, you _should avoid using .apply() and .map()_ because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using __vectorized functions__ instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)!    
1. NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).    
1. Index is an imp method to use as it allows to filter or select data from a series, dataframe etc simialr to like we do in list by just specifying position    
1.